@tailwind base;
@tailwind components;
@tailwind utilities;



 *::selection {
    background-color: rgb(252, 164, 154);
 }

 * {

   font-family: 'woodpecker', sans-serif;
    letter-spacing: 0.025em; 
}


@font-face {
   font-family: 'woodpecker';
   /* src: url('./assets/Fonts/WoodPecker.ttf'); */
   src: url('./assets/Fonts/WoodPecker.ttf') format('truetype');
   font-display: swap;


 }

 .mobile-menu {
   transition: max-height 0.5s ease-in-out;
   max-height: 0;
   overflow: hidden;
}

.mobile-menu-open {
   max-height: 500px; /* Adjust the value based on your content */
}

.mobile-menu-closed {
   max-height: 0;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.notification {
   @apply fixed top-5 right-5 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded z-10;
   transition: all 0.3s ease-in-out;
 }
 
 .notification.hidden {
   opacity: 0;
   transform: translateY(-50px);
 }


 

 .origin-0 {
   transform-origin: 0%;
 }

 input:focus ~ label,
 input:not(:placeholder-shown) ~ label,
 textarea:focus ~ label,
 textarea:not(:placeholder-shown) ~ label,
 select:focus ~ label,
 
 select:not([value='']):valid ~ label {
   /* @apply transform; scale-75; -translate-y-6; */
   --tw-translate-x: 0;
   --tw-translate-y: 0;
   --tw-rotate: 0;
   --tw-skew-x: 0;
   --tw-skew-y: 0;
   transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
     skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
   --tw-scale-x: 0.75;
   --tw-scale-y: 0.75;
   --tw-translate-y: -1.5rem;
 }

 input:focus ~ label,
 select:focus ~ label {
   /* @apply text-black; left-0; */
   --tw-text-opacity: 1;
   color: rgba(0, 0, 0, var(--tw-text-opacity));
   left: 0px;
 }

 
 ::-webkit-scrollbar {
  display: none;
}
 
@media (min-width: 1015px) and (max-width: 1245px) {
  /* Font size changes only within this range */
.media-style{
 font-size: 10px;
}

}